services:
  postgres:
    image: docker-proxy.sanbei101.syz/postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secretpassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - oj-network

  oj-backend:
    image: swr.cn-north-4.myhuaweicloud.com/sanbei/cau-oj-backend:latest
    container_name: oj-backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - oj-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3

  caddy:
    image: docker-proxy.sanbei101.xyz/caddy:2-alpine
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
    networks:
      - oj-network
    depends_on:
      - oj-backend
volumes:
  postgres_data:
    driver: local
  caddy_data:
    driver: local

networks:
  oj-network:
    driver: bridge